---
---
<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ site.title }}</title>
    <meta name="keywords" content="{{ site.keywords }}">
    <meta name="description" content="{{ site.description }}">
    <link rel="stylesheet" href="combo.css">
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

    <link rel="apple-touch-icon" sizes="57x57" href="/img/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/img/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/img/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/img/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/img/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/img/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/img/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/img/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/img/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/img/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

</head>
<body>
<div id="main">
    <div class="de">
        <nav>
            <ul>
                {% for node in site.posts reversed %}
                {% if node.url contains "_de" %}
                {% capture id %}{{ node.id | remove:'/' | downcase }}{% endcapture %}
                <li class="p-{{id}}"><a href="#de_{{id}}">{{node.title}}</a></li>
                {% endif %}
                {% endfor %}
                <li class="languageSwitch">
                <a href="#" onclick="toggleLanguage()"><strong>English</strong></a>
                </li>
            </ul>
        </nav>


        {% for page in site.posts reversed %}
        {% if page.url contains "_de" %}
        {% capture id %}{{ page.id | remove:'/' | downcase }}{% endcapture %}
        <div id="de_{{id}}" class="section p-{{id}}">
            {% if page.icon %}
            <div class="subtlecircle sectiondivider imaged">
                <img src="{{page.icon}}" alt="section icon"/>
            </div>
            {% elsif page.fa-icon %}
            <div class="subtlecircle sectiondivider faicon">
          <span class="fa-stack">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-{{ page.fa-icon }} fa-stack-1x"></i>
          </span>
            </div>
            {% endif %}
            <div class="container {{ page.style }}">
                {{ page.content }}
            </div>
        </div>
        {% endif %}
        {% endfor %}


        <div id="de_footer" class="footer section text-white">
            <div class="container">
                {% capture foottext %} {% include footer.md %} {% endcapture %}
                {{ foottext | markdownify }}
            </div>
        </div>
    </div>

    <div class="en">
        <nav>
            <ul>
                {% for node in site.posts reversed %}
                {% if node.url contains "_en" %}
                {% capture id %}{{ node.id | remove:'/' | downcase }}{% endcapture %}
                <li class="p-{{id}}"><a href="#en_{{id}}">{{node.title}}</a></li>
                {% endif %}
                {% endfor %}
                <li class="languageSwitch">
                <a href="#" onclick="toggleLanguage()"><strong>Deutsch</strong></a>
                </li>
            </ul>
        </nav>


        {% for page in site.posts reversed %}
        {% if page.url contains "_en" %}
        {% capture id %}{{ page.id | remove:'/' | downcase }}{% endcapture %}
        <div id="en_{{id}}" class="section p-{{id}}">
            {% if page.icon %}
            <div class="subtlecircle sectiondivider imaged">
                <img src="{{page.icon}}" alt="section icon"/>
            </div>
            {% elsif page.fa-icon %}
            <div class="subtlecircle sectiondivider faicon">
          <span class="fa-stack">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-{{ page.fa-icon }} fa-stack-1x"></i>
          </span>
            </div>
            {% endif %}
            <div class="container {{ page.style }}">
                {{ page.content }}
            </div>
        </div>
        {% endif %}
        {% endfor %}


        <div id="en_footer" class="footer section text-white">
            <div class="container">
                {% capture foottext %} {% include footer.md %} {% endcapture %}
                {{ foottext | markdownify }}
            </div>
        </div>
    </div>
</div>

{% include analytics.html %}
</body>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="site.js"></script>
</html>
